<footer class="footer">
  <div class="section-join container">
    <h1 class="section-title col-12 col-lg-7 mx-auto">Dapatkan Perlindunganmu</h1>
    <button class="btn btn-orange">Daftar Disini</button>
  </div>

  <div class="line"></div>

  <div class="section-info container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h5 class="title-1">BRI Insurance</h5>
        <h6 class="subtitle col-12 col-lg-11 p-0">Graha BRI Insurance, Jl. Mampang Prpt. Raya No.18, RT.11/RW.6,  Tegal Parang, 
          Kec. Mampang Prpt., Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12790</h6>
      </div>
      <div class="col-12 col-lg-2 mt-sm-20">
        <h5 class="title-1 mb-4">Tautan</h5>
        <h6 class="title-2">Tentang Kami</h6>
        <h6 class="title-2">Karir</h6>
        <h6 class="title-2">Blog</h6>
        <h6 class="title-2">Harga</h6>
      </div>
      <div class="col-12 col-lg-2 mt-sm-20">
        <h5 class="title-1 mb-4">Produk Lainnya</h5>
        <h6 class="title-2">Asuransi Mikro</h6>
        <h6 class="title-2">Asuransi Rumah</h6>
        <h6 class="title-2">Asuransi OTO</h6>
      </div>
      <div class="col-12 col-lg-2 mt-sm-20">
        <h5 class="title-1 mb-4">Sumber</h5>
        <h6 class="title-2">IOS & Android</h6>
        <h6 class="title-2">Lihat Demo</h6>
        <h6 class="title-2">Layanan Konsumen</h6>
        <h6 class="title-2">Kebijakan dan Privasi</h6>
      </div>
    </div>
  </div>

  <div class="line"></div>

  <div class="section-copyright d-flex justify-content-between container">
    <div class="col-12 col-md-6 text-center-sm">
      <h6>2025 @Iqbal. All rights reserved. -- Privacy Policy - Terms of Services</h6>
    </div>
    <div class="col-12 col-md-6 text-right text-center-sm">
      <h6>Supported by AR Shakir</h6>
    </div>
  </div>
</footer>