<section class="homepage">
  <div class="center">
    <h1 class="section-title col-12 col-md-9 mx-auto">
      Asuransi Kendaraan yang Adil Bayar Sesuai Jarak Tempuh!
    </h1>
    <h5 class="subtitle col-12 col-md-9 col-lg-6 mx-auto">
      Hemat lebih banyak dengan premi fleksibel berdasarkan KM kendaraan yang Anda tempuh.
    </h5>
    <div class="col-12 col-lg-6 mx-auto mt-5">
      <div class="d-flex justify-content-between sm-column">
        <div class="col d-flex justify-content-center">
          <button class="btn btn-orange px-5 w-auto">Daftar Kendaraan</button>
        </div>
        <div class="col d-flex flex-row see-sm">
          <button class="btn btn-green">
            <img src="../../assets/images/play.png">
          </button>
          <h6 class="title-see">Pelajari Lebih Lanjut</h6>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="dashboard-preview">
  <img src="../../assets/images/car-insurance.jpg">
</section> -->

<section class="container">
  <div class="partners">
    <h5 class="section-title">10+ Mitra Kerjasama Kami</h5>
    <div class="d-flex justify-content-between mt-5">
      <div class="sm-6">
        <img class="logo" src="../../assets/images/bri.png">
      </div>
      <div class="sm-6">
        <img class="logo" src="../../assets/images/bsi.png">
      </div>
      <div class="sm-6">
        <img class="logo" src="../../assets/images/brifinance.png">
      </div>
      <div class="sm-6">
        <img class="logo" src="../../assets/images/brilife.png">
      </div>
      <div class="sm-6">
        <img class="logo" src="../../assets/images/pegadaian.png">
      </div>
    </div>
  </div>

  <div class="features">
    <div class="row">
      <div class="feature-1-img col-sm-12 col-md-6 p-0">
        <img src="../../assets/images/Insurance-planning.jpg">
      </div>
      <div class="feature-info col-sm-12 col-md-6 p-0">
        <h5 class="title-1">Produk Kita</h5>
        <h1 class="title-2">Asuransi Kendaraan Pay-Per-KM</h1>
        <h6 class="title-3"> solusi inovatif bagi pemilik kendaraan yang ingin membayar premi berdasarkan penggunaan sebenarnya. </h6>
        <div class="center-sm">
          <button class="btn btn-blue">Dapatkan Perlindunganmu</button>
        </div>
      </div>
    </div>
    <!-- <div class="row mt-5">
      <div class="order-2 order-md-1 feature-info col-sm-12 col-md-6 p-0">
        <h5 class="title-1">Our Feature</h5>
        <h1 class="title-2">All payments can be managed from one account</h1>
        <h6 class="title-3">Why kept very ever home mrs. Considered sympathize ten uncommonly occasional assistance sufficient not. Letter of on become he tended active enable to.</h6>
        <div class="center-sm">
          <button class="btn btn-blue">Get Started</button>
        </div>
      </div>
      <div class="order-1 order-md-2 feature-1-img col-sm-12 col-md-6 p-0">
        <img src="../../assets/images/feature-2.png">
      </div>
    </div> -->
  </div>
</section>

<section class="preference">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="col-12 col-lg-9">
        <h1 class="section-title">Perlindunganmu adalah Prioritas Kami</h1>
      </div>
      <!-- <div class="col-12 col-lg-3 d-flex justify-content-end">
        <button class="btn btn-orange">Get Started</button>
      </div> -->
    </div>
    <div class="-mt-15-sm d-flex justify-content-between mt-4">
      <div class="col-12 col-lg-5 pt-4">
        <div class="d-flex flex-row mt-3">
          <div class="number-circle">1</div>
          <div class="info">
            <h5 class="text-1">Bayar Per-KM</h5>
            <h6 class="text-2">Premi dihitung berdasarkan jarak tempuh mobil dan jenis mobilmu</h6>
          </div>
        </div>
        <div class="d-flex flex-row mt-4">
          <div class="number-circle">2</div>
          <div class="info">
            <h5 class="text-1">Lebih Hemat</h5>
            <h6 class="text-2">Cocok untuk kamu yang jarang memakai kendaraan</h6>
          </div>
        </div>
        <div class="d-flex flex-row mt-4">
          <div class="number-circle">3</div>
          <div class="info">
            <h5 class="text-1">Perlindungan Lebih Mudah</h5>
            <h6 class="text-2">Pehitungan pemakaian kendaraan akan dipasangi GPS</h6>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7 d-flex justify-content-end">
        <img class="working-img" src="../../assets/images/car-saving.jpg">
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <section class="container section-bottom">
    <div class="card-1 row">
      <div class="col-12 col-lg-3">
        <h3 class="section-title">Diatur oleh OJK</h3>
      </div>
      <div class="col-12 col-lg-3 d-flex align-items-center mt-md-15">
        <div class="d-flex flex-row">
          <div class="gray-box">
            <img src="../../assets/images/icon-1.png">
          </div>
          <h6 class="title">Data privasi aman</h6>
        </div>
      </div>
      <div class="col-12 col-lg-3 d-flex align-items-center mt-md-15">
        <div class="d-flex flex-row">
          <div class="gray-box">
            <img src="../../assets/images/icon-2.png">
          </div>
          <h6 class="title">Jaminan Perlindungan</h6>
        </div>
      </div>
      <div class="col-12 col-lg-3 d-flex align-items-center mt-md-15">
        <div class="d-flex flex-row">
          <div class="gray-box">
            <img src="../../assets/images/icon-3.png">
          </div>
          <h6 class="title">Most renowed data centers</h6>
        </div>
      </div>
    </div>
  
    <div class="section-read-more row">
      <div class="col-12 col-md-6 col-padding-0">
        <div class="card-shadow">
          <h1 class="section-title">Klaim Polis-mu</h1>
          <h6 class="subtitle">Klaim polis kamu sekarang supaya mendapat perlindunganmu</h6>
          <div class="d-flex justify-content-center">
            <button class="btn btn-blue">Klaim</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-padding-0">
        <div class="card-shadow">
          <h1 class="section-title">Perpanjang Polis-mu</h1>
          <h6 class="subtitle">Perpanjang polis kamu supaya kamu mendapat perlindungan lebih</h6>
          <div class="d-flex justify-content-center">
            <button class="btn btn-blue">Perpanjang</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="section-blogs">
      <h1 class="section-title">Blog</h1>
      <div class="card-3">
        <div class="info">
          <h6 class="title-1">Testimoni</h6>
          <h4 class="title-2">Mufti seorang komuter mendapatkan perlindungan kendaraan yang murah karena biasanya menggunakan transportasi umum</h4>
          <button class="btn btn-link">Read More</button>
        </div>
        <div class="image">
          <img src="../../assets/images/peoples.png">
        </div>
      </div>
      <div class="section-posts row p-0">
        <div class="col-12 col-md-4">
          <div class="card-3">
            <div class="info">
              <h6 class="title-1">Penghargaan</h6>
              <h4 class="title-2">BRI Insurance meraih penghargaan BUMN Asuransi Terbaik 2025</h4>
            </div>
            <div class="image">
              <img src="../../assets/images/awarding.jpg">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-3">
            <div class="info">
              <h6 class="title-1">Diskon</h6>
              <h4 class="title-2">Sambut Ramadhan dengan Perlindungan yang Tepat</h4>
            </div>
            <div class="image">
              <img src="../../assets/images/post-2.png">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card-3">
            <div class="info">
              <h6 class="title-1">Karir</h6>
              <h4 class="title-2">Persiapkan dirimu untuk rekruitmen bersama BRI Insurance</h4>
            </div>
            <div class="image">
              <img src="../../assets/images/post-3.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>