<section class="container navbar-1">
  <div class="d-flex justify-content-between">
    <div class="col">
      <a class="logo" href="/">
        <img src="../../assets/images/brins.png" />
      </a>
    </div>
    <div class="col show-sm">
      <input id="menu-toggle" type="checkbox" (click)="toggleNav()" />
      <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
    </div>
    <div class="col d-flex justify-content-center hide-sm">
      <ul class="navigation">
        <li class="links chevron">Produk</li>
        <li class="links">Harga</li>
        <li class="links">Blog</li>
        <li class="links">Kontak</li>
      </ul>
    </div>
    <div class="col d-flex justify-content-end hide-sm">
      <button href="/" class="btn btn-link">Sign Up</button>
      <button href="/" class="btn btn-orange">Log In</button>
    </div>
    <div id="mySidenav" class="sidenav" [className]="showSidenav ? 'sidenav w-250':'sidenav'">
      <a href="/">Product</a>
      <a href="/">Template</a>
      <a href="/">Blog</a>
      <a href="/">Pricing</a>
      <div class="d-flex flex-column">
        <button href="/" class="btn btn-link mt-3">Sign In</button>
        <button href="/" class="btn btn-orange mt-4 mr-3">Start Free</button>
      </div>
    </div>
  </div>
</section>